:root {
  --bg: #FAFFFA;
  --bg-even: #DFEFDF;
  --bg-hover: #AFBFAF;
  --bg-head: #5A705F;
  --bg-head-hover: #4A604F;
  --arrow-unactive: lightgray;
  --arrow-active: black;
  --bg-del-btn: #AE402E;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

.section {
  max-width: 1200px;
  margin: 10px auto 30px;
  background-color: var(--bg);
}

.dtb-table {
  width: 100%;
  border-collapse: collapse;
  overflow: scroll;

}

.dtb-thead, .dtb-tbody {
  width: 100%;
}

.dtb-thead {
  background-color: var(--bg-head);
  color: var(--bg-even);
}

.dtb-tr:nth-child(even) {
  background-color: var(--bg-even);
}

.dtb-tr:hover {
  background-color: var(--bg-hover);
}

.dtb-th {
  text-align: left;
  padding: 5px 10px;
  font-family: "Arial", serif;
  position: relative;
}

.dtb-th:hover {
  background-color: var(--bg-head-hover);
}

.dtb-arrow {
  border: 6px solid transparent;
  width: 0;
  height: 0;
  position: absolute;
  right: 7px;
  border-top: 6px solid var(--arrow-unactive); 
  bottom: 0;
}

.dtb-arrow-up {
  border-bottom: 6px solid var(--arrow-active);
  border-top: 6px solid transparent; 
  top: 0;
}

.dtb-arrow-down {
  border-top: 6px solid var(--arrow-active);
  bottom: 0;
}

.dtb-td {
  padding: 5px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dtb-del-btn, .dtb-add-btn, .dtb-new-btn {
  background-color: var(--bg-del-btn);
  padding: 5px 20px;
  font-family: "Arial", serif;
  color: var(--bg-even);
  font-weight: bold;
  outline: none;
  border-color: var(--bg-head);
  margin: 2px;
  border-radius: 5px;
}

.dtb-new-btn {
  width: 200px;
  background-color: var(--bg-head-hover);
}

.dtb-top {
  width: 100%;
  padding: 2px;
  display: flex;
  justify-content: space-between;
}

.dtb-search {
  font-weight: bold;
  padding: 5px 10px;
  margin: 5px;
  width: 300px;
  border: 1px solid var(--bg-head-hover);
  border-radius: 7px;
  color: var(--bg-head-hover);
}

.dtb-hidden {
  display: none;
}

.dtb-new-value {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  color: var(--bg-head-hover);
}
