*,
*::before,
*::after {
    box-sizing: border-box;
}

.section {
  max-width: 1000px;
  margin: 10px auto;
}

.dtb-table {
  width: 100%;
  border-collapse: collapse;
}

.dtb-thead, .dtb-tbody {
  width: 100%;
}

.dtb-thead {
  background-color: #5A705F;
  color: #DFEFDF;
}

.dtb-tr:nth-child(even) {
  background-color: #DFEFDF;
}

.dtb-tr:hover {
  background-color: #AFBFAF;
}

.dtb-th {
  text-align: left;
  padding: 5px 10px;
  font-family: "Arial", serif;
  position: relative;
}

.dtb-th:hover {
  background-color: #4A604F;
}

.dtb-arrow {
  border: 6px solid transparent;
  width: 0;
  height: 0;
  position: absolute;
  right: 7px;
  border-top: 6px solid lightgray; 
  bottom: 0;
}

.dtb-arrow-up {
  border-bottom: 6px solid black;
  border-top: 6px solid transparent; 
  top: 0;
}

.dtb-arrow-down {
  border-top: 6px solid black;
  bottom: 0;
}

.dtb-td {
  padding: 5px 10px;
}

.dtb-del-btn, .dtb-add-btn, .dtb-new-btn {
  background-color: #AE402E;
  padding: 5px 20px;
  font-family: "Arial", serif;
  color: #DFEFDF;
  font-weight: bold;
  outline: none;
  border-color: #5A705F;
  margin: 2px;
  border-radius: 5px;
}

.dtb-add-btn {
  background-color: #40AE2E;
}

.dtb-new-btn {
  width: 200px;
  background-color: #4A604F;
}

.dtb-top {
  width: 100%;
  padding: 2px;
  display: flex;
  justify-content: space-between;
}

.dtb-search {
  font-weight: bold;
  padding: 5px 10px;
  margin: 5px;
  width: 300px;
  border: 1px solid #4A604F;
  border-radius: 7px;
  color: #4A604F;
}

.dtb-hidden {
  display: none;
}

.dtb-new-value {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  color: #4A604F;
}
